<div class="progress">
    <div class="progress-bar bg-success"
         role="progressbar"
         style="width: {{progress}}%"
         aria-valuenow="{{progress}}"
         aria-valuemin="0"
         aria-valuemax="100">
        {{progress}}%
    </div>
</div>

{{#canviewreport}}
    <div class="footer mt-4">
        <a class="btn btn-primary" href="{{config.wwwroot}}/blocks/progress_time/report.php">Ver relatório</a>
    </div>
{{/canviewreport}}